.accTable {
  padding: 1em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  background-color: #f7f7f7;
}

.hdrcell {
  height: 2.5em;
  text-align: left;
  border: 0;
  color: #5eb9b9;
  background-color: #fff;
  padding: 1em;
  font-size: 1.1em;
  font-weight: 600;
}

.cell {
  border-bottom: 1px solid lightgrey;
  padding: 0.25em;
  max-width: 400px;
  padding: 0.75em 1em;
}

.tblbody .striped:nth-child(odd) .cell.bolder {
  color: initial;
}

.tblbody {
  font-weight: 600;
}

.tblbody .striped:nth-child(odd) {
  color: #999;
}

.tblbody .striped:nth-child(even) {
  color: #5eb9b9;
}
