html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #fff;
}

/* general table styles */
table{
  width:100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  margin-left:auto; 
  margin-right:auto;
  border-collapse: collapse;
}

thead {
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}